body {
   background-image:linear-gradient(
        rgb(0, 132, 255) 0%,
        rgb(10, 0, 151) 100%
   ); 
   color:lightblue; 
   font-family: 'Ubuntu', sans-serif;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-image: radial-gradient(
        rgb(0, 132, 255) 0%,
        rgb(10, 0, 151) 100%);
    padding: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid black;
    box-shadow: inset 0px 0px 10px
    rgb(10, 0, 151), 0 0 15px;
}

.container {
    background-color: rgb(10, 0, 151);
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    box-shadow: inset 0px 0px 10px
    rgb(10, 0, 151), 0 0 15px;
    border-radius: .5rem;
}

#current-container, #single-morning-container, #single-noon-container, #single-evening-container{
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: .5rem;
}

#current-container{
    margin-left:auto;
    margin-right:auto;
    margin-top: 2%;
    box-shadow: inset 0px 0px 10px
    rgb(10, 0, 151), 0 0 15px;
}

#single-morning-container {
    background-image: linear-gradient(
        rgb(206, 111, 3) 0%,
        rgb(0, 132, 255) 100%);
}

#single-noon-container {
    background-color: rgb(0, 132, 255);
}

#single-evening-container{
    background-image: linear-gradient(
        rgb(0, 132, 255) 0%,
        rgb(10, 0, 151) 100%);
}

button {
    color:lightblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#prev-input-container button {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: .5%;
}

